/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Raleway:wght@400;700&display=swap');
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  /* --hue-color: 190; */

  /* HSL color mode */
  /* --first-color: hsl(var(--hue-color), 64%, 22%);


 /*== Primary,  Dark blue background ==*/
    --bg-intro-email-singup:  hsl(217, 28%, 15%);
    --bg-main:hsl(217, 28%, 15%);
    --bg-wave: hsl(218, 28%, 13%);
    --bg-footer:hsl(216, 53%, 9%);
    --bg-testimonials: hsl(219, 30%, 18%);
  /*== Acent ==*/
    --cta-gradient-acent: hsl(176, 68%, 64%);
    --cta-gradient-acent-second:hsl(198, 60%, 50%);
  /*== Error ==*/
    --error: hsl(0, 100%, 63%);

    --gradient: linear-gradient(to right, var(--cta-gradient-acent),var(--cta-gradient-acent-second));
    --white: hsl(0, 0%, 100%);

 
  
  /*========== Font and typography ==========*/

  --body-font: 'Open Sans', sans-serif;
  --spotlight-font: 'Raleway', sans-serif;   /* Headings, Call-to-actions, Header Navigation */
  --p-line-height:1.6rem;/*description especifications*/
  --biggest-font-size: 2.5rem;
  --h1-font-size: 1.4rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .875rem; /*body copy 14px according to designer's request */
  
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  /* --font-medium: 500;
  --font-semi-bold: 600; */
  --font-bold:700;
  --font-regular:400;
  --font-light: 300;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;

  /*========== Hover overlay ==========*/
  --img-transition: .3s;
  --img-hidden: hidden;
  --img-scale: scale(1.1);
}

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}


/*=============== BASE ===============*/

*, *::before, *::after{
  box-sizing:border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--bg-main);
  color: var(--white);
  font-weight: var(--font-regular);
}

h1, h2, h3 {
  color: var(--white);
  font-weight: var(--font-bold);
  font-family: var( --spotlight-font);
  /*margin:0; sino el navegador me toma el margen de normalize.css*/
}
h1{
  font-size: var(--h1-font-size);
  line-height: 2rem;
}
h2{
  --h2-font-size: 1.75rem;
}
h3{
  --h3-font-size: 1.25rem;
}

ul {
  list-style: none;
}
li{
  list-style: none;
}

a {
  text-decoration: none;
}

/* img,
video {
  max-width: 100%;
  height: auto;
} */

button,
input {
  border: none;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

button {
  cursor: pointer;
}

input {
  outline: none;
}

.main {
  overflow-x: hidden;
  position: relative;
}

/*=============== REUSABLE CSS CLASSES ===============*/
// .section {
//   padding: 2rem 0;

//     &__title {
//     font-size: var(--h2-font-size);
//     color: var(--title-color);
//     text-align: center;
//     text-transform: capitalize;
//     margin-bottom: var(--mb-2);
//     }
// }

.container{
  max-width: 80rem;
  padding: 0 2rem; 
  /* padding-inline: 2rem;   */
  /* margin:0 auto;or width: 90% */
  margin-inline: auto;
  overflow: hidden;
}

.grid {
  display: grid;
  gap:var(--gap, 1rem);
}
.flex{
display: flex;
gap: var(--gap, 1rem);
}

.btn-cta{ 
  text-decoration:none;
  padding: 0.75rem 0.75rem;
  width: 15rem;
  background: var(--gradient);
  border-radius: 1rem;
  color:var(--white);
  place-self:center;
}

.section {
    padding: 2rem 0;
  
      &__title {
      font-size: var(--h2-font-size);
      color: var(--title-color);
      text-align: center;
      text-transform: capitalize;
      margin-bottom: var(--mb-2);
      }
  }
  
.description{
    line-height: var(--p-line-height);
    }
    

/*===== Nav ======*/
.header{
background-color: var(--bg-intro-email-singup);
width: 100%;
height: 3.5rem;
}

.nav{
  height: 100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 0 0;


    &__list{
    display: flex;
    flex-direction: row;
    column-gap:.5rem;
    
    }
    &__items{
    font-weight: var(--font-light);
    }

    /* .nav__logo{
    width: 90px;
    } */
    &__svg{
    /* max-width: 100%; */
    width:90px;
    }
}

.home{
  /* height: calc(100vh); */
  display: grid;
  gap:1.25rem;
  text-align: center;

    & *{
    outline: 1px solid wheat;
    }

    &__img{
    margin:auto;
    /* display:block; */
    width:100%;
    object-fit: contain;
    max-width:40rem;
    }

    &__wave{
    position:absolute;
    top:35%;
    left:-10%;
    z-index: -1;
    width:110%;
    height:20%;
    background:url("./images/bg-curvy-mobile.svg");
    background-repeat: no-repeat;
    outline: 1px solid rgb(223, 128, 207);
    background-size:110% 100%;
    box-shadow: 0 150px 30px 25px hsl(218, 28%, 13%);
    /* color wave original #181F2B */
    }
}


.about {
    text-align: center;
    padding-top: 4rem;
    &__figure{
      padding-bottom: 1rem;
      width:100%;
      text-align:center;
     }
    &__img{
      width:100%;
      max-width:600px; 
    }
    &__features{
    display:grid;
    gap: 1rem;
    padding: 2rem 0;

      &--figure {
        padding-bottom: 1rem;
      }
      &--img {
        width: 5rem;
        height: 5rem;
        object-fit:contain;
      }
    }
}
.about--cta{
  text-align: left;
}

.bottom_more-info{
width:fit-content;
font-size: var( --small-font-size);
color: var(--cta-gradient-acent);
border-bottom: 1px solid ;
line-height:200%;
}
.bottom_more-info--arrow{
  vertical-align:middle;
}